.head{
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.head img.headimage {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    height: 75px;
    width: 75px;
    padding-bottom: 10px;
}
.head center{
    color:#ec0c17;
    
}
ul{
    box-shadow:0px 2px 5px #777;
    list-style-type: none;
    margin: 0;
    padding-left: 15px;
    overflow: hidden;
}
li {
    padding-left: 10px;
    text-align: center;
    float: left;
  }
li a {
    padding-left: 20px;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    margin: 20px;
}
*{
    margin:0;
    padding:0;
}
li a:hover {
    color: white;
    background-color: #db7093;
    font-weight: bold;
}
.tclink:link {color: #000000}
.tclink:visited {color: #ec0c17}
.tclink:hover {color: #FFCC00}
.tclink:active {color: #d33542}

.linkdn:link {color: #fafafa}
.linkdn:visited {color: #fcfafa}
.linkdn:hover {color: #ff7b00}
.linkdn:active {color: #bd1c1c}

.tc li a{
    color:#FFCC00;
    text-decoration: none;
}
.tc li .cap2 li{
    display:none;
    width:190px;
    margin-top: 10px;
    
    height:auto;
}
.tc li:hover .cap2 li{
    display:block;
}
.tc li .cap3 li{
    display:none;
    width:200px;
    margin-top: 10px;
}
.tc li:hover .cap3 li{
    display:block;
}
.tc li .cap4 li{
    display:none;
    width:125px;
    margin-top: 10px;
}
.tc li:hover .cap4 li{
    display:block;
}
.tc li ul li{
    display:none;
    width:150px;
    margin-top: 10px;
}
.tc li:hover ul li{
    display:block;
}
.content-left{
    display: inline;
    position: inherit;
}
.content-left .section-image{
    padding-left: 650px;
    height: 500px;
    width:600px;
}
#taikhoan {
    color: rgb(255, 255, 255);
    margin-top:10px;
    padding-left: 968px;
    padding-bottom: 10px;
    background-color: rgb(228, 38, 48);
    height:45px;
    font-weight: bolder;
    font-size:18px;
    font-family: Arial, Helvetica, sans-serif;
}
#taikhoan .linkdn{
    margin:10px;
}
#taikhoan > div{
    margin-bottom: 7px;
}
#taikhoan a{
    text-decoration: none;
}
#search{
    width:53%;
}
.footer{
    background-color: #000000;
    height: 400px;
    width: 100%;
    color:#fff;
    display: flex;
    flex-direction: row;
    margin: 20px;
}.footer > div {
    width: 50%;height: 400px;margin: 60px;color: white;line-height: 17px;
}.footer .info{
    font-size: 14px;font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer .info #infodc{
    color:red
}
.footer .email .dkyo{
    padding-left: 17px;
}
.footer .email > div{
    padding-bottom:10px;font-size: 14px;font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer .email .odkemail #oemail{
    width: 220px;
}
.thucdon{
    margin-top: 3%;
    margin-left: 3px;
    display: flex;
    flex-direction: row;
}
.thucdon .menu-1{
    margin-left: 50px;
    width: 140%;
    font-family: Arial, Helvetica, sans-serif;
}
.thucdon .content-2{
    font-size: large;
    color: #fff;
    left: 70px;
    top: 370px;
    right:450px;
    position: absolute;
    line-height: 22px;
}
.thucdon .content-1{
    font-style: italic;
    color: #fff;
    left:70px;
    top: 317px;
    right:300px;
    position: absolute;
}
.thucdon-2 .menu-22{
    color: #fff;
    font-style: italic;
    font-size: larger;
    position: absolute;
    left:210px;
    right:250px;
    top:1220px;
}
.thucdon-2 .menu-2{
    margin-top: 13px;
    margin-left: auto;
	margin-right: auto;
	display: block;
    width:73%;
}
.button-1{
    width: 10%;
    margin-left: 7%;
    margin-top:320px;
    position: absolute;
}
.button-2{
    width: 10%;
    margin-left: 15%;
    top:1329px;
    position: absolute;
}
.thucdon-3 .ts1{
    width: 60%;
    height:60%;
    margin-top: 13px;
    margin-left: auto;
	margin-right: auto;
    display:block;
}
.ts2{
    font-size: larger;
    color: #fff;
    font-style: italic;
    margin-left: 290px;
    margin-right: 290px;
    position: absolute;
    top: 1400px;
}
.button-3{
    position: absolute;
    margin-left: 290px;
    top: 1500px;
}
.noidung .nd1{
    font-size: 25px;
    color:#050505;

}
.noidung .nd2{
    font-size: 40px;
}
.noidung .vq {
    height: 300px;
    width: 300px;
    margin-left: 40%;
}
.noidung .ctkm{
    margin-left: 40%;
}
.share {
    color:blue;
    width: 80px;
    height: 60px;
    margin-left:80%;
}
.noidung .nd3{
 font-size: 40px;

}

